.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   font-size: 15px;
   position: absolute;
   bottom: 6%;
   left: 40%;
   @include min-max($smartphone, $smartLarge - 1 ) {
    left: 24%;
   }
  }
  
  .page-item a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .page-item:hover a {
    background-color: #eee;
  }
  
  .active a {
    background-color: #6f8f6f;
    color: white;
  }
  
  .page-item {
    margin: 0 4px;
  }
  .hidden {
    display: none;
  }
