.create {
  width: 100%;
  height: 90vh;
  padding-bottom: 25px;

  &__wrapperForm {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
  }
    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      margin: 15px;
    }
    &__name,
    &__title {
      color: $green;
      @include min-max($smartphone, $smartLarge - 1 ) {
        display: none;
      }
    }
  }

