.success {
  &__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $greenButton;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  width: 36rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
  &__close {
    position: absolute;
    top: 7%;
    right: 2%;
    cursor: pointer;
  }

  p {
    font-size: 19px;
  }
}
 

