.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0 1.5rem;
  background-color: #6D841A;
  height: 25px;
 
&__content {
  color: white;
  font-weight: bold;
}
  
  
}