.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1.5rem;
  background-color: $green;
  height: 1.563rem;

  &__content {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
  }


}