

.eRHmuV {
  display: block !important;
  }

  .bPokRt.rdt_TableRow{
    @include min-max($smartphone, $smartLarge) {
      font-size: 12px;
    }
  }
 
.rdt_TableCol[data-column-id="7"],
.rdt_TableCol[data-column-id="8"],
.rdt_TableCol[data-column-id="9"] {
  @include min-max($smartLarge, $tablet ) {
    display: none;
  }
}

.rdt_TableCell[data-column-id="7"] [data-tag="allowRowEvents"],
.rdt_TableCell[data-column-id="8"] [data-tag="allowRowEvents"],
.rdt_TableCell[data-column-id="9"] [data-tag="allowRowEvents"] {
  @include min-max($smartLarge, $tablet ) {
    display: none;
  }
}

.rdt_TableCell[data-column-id="6"] [data-tag="allowRowEvents"],
.rdt_TableCell[data-column-id="5"] [data-tag="allowRowEvents"]
 {
  @include min-max($smartphone, $smartLarge ) {
    display: none;
  }
}
.rdt_TableBody{
  @include tablet {
  min-width: 900px;
}
}
