.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;


&__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

&__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 8.5rem;
    color: $greenButton;
}

&__info {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

&__link {
    color: inherit;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5vh;
}

&__link:hover {
    color: #6e8510;
}
}